# MacOS .DS_Store Files
.DS_Store

# Generated JUCE Library Code
**/JuceLibraryCode/

# Desktop Builds
/DesktopClient/Builds
/DesktopServer/Builds

# Mobile Client Builds (keep XCode Project)
/MobileClient/Builds/iOS/build
/MobileClient/Builds/iOS/MobileClient
/MobileClient/Builds/iOS/*.plist
/MobileClient/Builds/iOS/*.storyboard
/MobileClient/Builds/iOS/MobileClient.xcodeproj/project.xcworkspace/xcuserdata/

# Plugin
/Plugin/**/build/
